<body>
    <section id="todolist" class="section-p1 section-m1">
        <div class="hero-slogan-box">
        <div class="newstext">
            <h4>Education and Tutoring</h4>
        </div>
        </div>
    </section>
    
    
    <section id="product1" class="section-p1">
        <h2>Elevate Your Learning Journey</h2>
        <p>Our education and tutoring services are designed to empower students of all ages.</p>
        <div class="pro-container">
            <div class="pro">
                <img src="assets/images/education/ad.jpg" alt="">
                <div class="des">
                    <h5>Adult Education</h5>
                    <p>Our adult education programs cater to lifelong learners, offering a range of courses to enhance your skills and knowledge, empowering you for personal and professional growth.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            </div>

            <div class="pro">
                <img src="assets/images/education/cc.jpg" alt="">
                <div class="des">
                    <h5>Career Counseling</h5>
                    <p>Explore career possibilities with expert guidance. Our career counseling services help you make informed decisions, identify your strengths, and chart a path to success.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="assets/images/education/code.jpg" alt="">
                <div class="des">
                    <h5>Coding Classes</h5>
                    <p>Unlock the world of coding through our interactive coding classes. Learn programming languages, web development, and software engineering from industry experts.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
        
            <div class="pro">
                <img src="assets/images/education/kcpe.jpg" alt="">
                <div class="des">
                    <h5>Exam Preparation (KCPE, KCSE)</h5>
                    <p>Ace your exams with our comprehensive preparation courses for KCPE and KCSE. Our tutors provide effective strategies to boost your confidence and performance.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
          
            <div class="pro">
                <img src="assets/images/education/karate.jpg" alt="">
                <div class="des">
                    <h5>Extra-Curricular Activity Coaching</h5>
                    <p>Excel in extracurricular activities with our dedicated coaches. Develop skills in sports, arts, and more while building teamwork and leadership abilities.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.500 - Ksh.2k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            <div class="pro">
                <img src="assets/images/education/homeschool.jpg" alt="">
                <div class="des">
                    <h5>Homeschooling Support</h5>
                    <p>We offer homeschooling support, providing a structured curriculum and experienced educators to ensure your child's academic success and holistic development.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.5k - Ksh.10k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
           
           
            <div class="pro">
                <img src="assets/images/education/world.jpg" alt="">
                <div class="des">
                    <h5>Language Classes (English, French, etc.)</h5>
                    <p>Master a new language with our language classes. Whether it's English, French, or another language, our courses make language learning enjoyable and effective.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/education/ot.jpg" alt="">
                <div class="des">
                    <h5>Private Tutoring(Math, Science, etc.)</h5>
                    <p>Receive personalized guidance through private tutoring. Our expert tutors tailor lessons to your needs, helping you excel in subjects like math, science, and more.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/education/ttp.jpg" alt="">
                <div class="des">
                    <h5>Test Preparation</h5>
                    <p>Prepare for standardized tests and admissions exams with our test preparation courses. Boost your scores and increase your chances of getting into your dream school.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/education/vt.jpg" alt="">
                <div class="des">
                    <h5>Vocational Training</h5>
                    <p>Embark on a rewarding career path with our vocational training programs. Gain practical skills and industry certifications for a successful future.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
    </section>
        