<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<section id="header">
  <div class="logo">
  <a href="#"><img src="assets/images/Screenshot_2023-09-20_092241-removebg-preview.png" alt="" class="logo" width="120"></a>
  </div>
   <nav class="navbar">
    <ul id="navbar">
      <li><a routerLink="/" class="active" href="index.html">Home</a></li>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" a href="accounting.html" routerLink="/accounting">Accounting and Tax Services</a>
          <a class="dropdown-item" a href="beauty.html" routerLink="/beauty">Beauty and Personal Care</a>
          <a class="dropdown-item" a href="car.html" routerLink="/car">Car Maintenance</a>
          <a class="dropdown-item" a href="education.html" routerLink="/education">Education and Tutoring</a>
          <a class="dropdown-item" a href="event.html" routerLink="/event">Event Planning</a>
          <a class="dropdown-item" a href="financial.html" routerLink="/financial">Financial Services</a>
          <a class="dropdown-item" a href="food.html" routerLink="/food">Food and Catering Services</a>
          <a class="dropdown-item" a href="gardening.html" routerLink="/gardening">Gardening and Landscaping</a>
          <a class="dropdown-item" a href="health.html" routerLink="/health">Health and Fitness</a>
          <a class="dropdown-item" a href="homerenovation.html" routerLink="/homerenovation">Home Renovation</a>
          <a class="dropdown-item" a href="homeservices" routerLink="/homeservices">Home Services</a>
          <a class="dropdown-item" a href="mobile.html" routerLink="/mobile">Mobile and Electronics Repair</a>
          <a class="dropdown-item" a href="moving.html" routerLink="/moving">Moving and Transportation</a>
          <a class="dropdown-item" a href="photography.html" routerLink="/photography">Photography and Videography</a>
          <a class="dropdown-item" a href="realestate.html" routerLink="/realestate">Real Estate Services</a>
          <a class="dropdown-item" a href="petcare.html" routerLink="/petcare">Pet Care Services</a>
          <a class="dropdown-item" a href="technology.html" routerLink="/technology">Technology and IT</a>
          <a class="dropdown-item" a href="travel.html" routerLink="/travel">Travel and Tourism Services</a>
          <a class="dropdown-item" a href="services.html" routerLink="/services">All Services</a>
           
        </div>
      </div>
      
   
    </ul>
 

  <section class="normal">
    <a routerLink="/msanii" class="normal" href="msanii.html">
    <button id="earn" class="normal">Earn With Us</button></a>
  </section>
</nav>
  <div id="mobile">
    <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>
  