<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<footer class="section-p1">
    <div class="col">
        <h3><span>Contact</span></h3>
        <h4><strong>Address: </strong>P.O Box 2222-1234 Nairobi,Kenya</h4>
        <h4><strong>Phone: </strong>+254 712345678</h4>
        <h4><strong>Hours: </strong>10:00 - 18:00, Mon-Sat</h4>
        <div class="follow">
            <h3><span>Follow us</span></h3>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
                
            </div>
        </div>
    </div>
    <div class="col">
        <h3><span>About</span></h3>
        <h4><a href="#">About us</a></h4>
        <h4><a href="#">Privacy Policy</a></h4>
        <h4><a href="#">Terms & Conditions</a></h4>
        <h4><a href="#">Contact Us</a></h4>
    </div>

    <div class="col">
        <h3><span>My Account</span></h3>
        <h4><a href="#">Sign In</a></h4>
        <h4><a href="#">View Cart</a></h4>
        <h4><a href="#">Help</a></h4>
    </div>

    <div class="col install">
        <h3><span>Install App</span></h3>
        <h4>From App Store or Google Play</h4>
        <div class="row">
            <img src="assets\images\pay\app.jpg" alt="" width="1" height="70">
            <img src="assets\images\pay\play.jpg" alt="" width="1" height="70">

        </div>
        <h4>Secured Payment Gateways</h4>
        <img src="assets\images\pay\mpesa-btn.gif" alt="" width="150" height="120">
    </div>

    <div class="copyright">
        <h4>© 2023, Msanii</h4>
    </div>

</footer>


<script src="script.js"></script>
</body>