<body>
    <section id="todolist" class="section-p1 section-m1">
        <div class="hero-slogan-box">
        <div class="newstext">
            <h4>Car Maintenance</h4>
        </div>
        </div>
    </section>
    
    
    <section id="product1" class="section-p1">
        <h2>Expert Car Maintenance Services</h2>
        <p>Experience top-notch car maintenance and repair services designed to keep your vehicle running smoothly.</p>
        <div class="pro-container">
            <div class="pro">
                <img src="assets/images/car/auto.jpg" alt="">
                <div class="des">
                    <h5>Auto Body Repair</h5>
                    <p>Our skilled technicians provide top-notch auto body repair services, restoring your vehicle to its former glory. Drive with confidence after our expert craftsmanship.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            </div>

            <div class="pro">
                <img src="assets/images/car/batteryreplacement.jpg" alt="">
                <div class="des">
                    <h5>Battery Replacement</h5>
                    <p>Is your car struggling to start? Our battery replacement service ensures your vehicle stays reliable. Count on us for quick and efficient battery replacements.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="assets/images/car/brake.jpg" alt="">
                <div class="des">
                    <h5>Brake System Repair</h5>
                    <p>Safety first! Our brake system repair service guarantees responsive brakes, keeping you and your passengers secure on the road. Trust our skilled mechanics.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
        
            <div class="pro">
                <img src="assets/images/car/carclean.jpg" alt="">
                <div class="des">
                    <h5>Car Interior Cleaning</h5>
                    <p>Experience a fresh and clean ride with our car interior cleaning service. We'll revitalize your vehicle's interior, leaving it spotless and inviting.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
          
            <div class="pro">
                <img src="assets/images/car/servicecar.jpg" alt="">
                <div class="des">
                    <h5>Car Servicing and Repairs</h5>
                    <p>Comprehensive car servicing and repairs by our experienced team. Ensure your vehicle's longevity and performance with our trusted automotive solutions.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.500 - Ksh.2k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            <div class="pro">
                <img src="assets/images/car/diagnostic.jpg" alt="">
                <div class="des">
                    <h5>Engine Diagnostics</h5>
                    <p>Uncover hidden engine issues with our advanced engine diagnostics. Our experts use cutting-edge technology to pinpoint and resolve problems efficiently.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.5k - Ksh.10k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
           
           
            <div class="pro">
                <img src="assets/images/car/oilchange.jpg" alt="">
                <div class="des">
                    <h5>Oil Change</h5>
                    <p>Regular oil changes are essential for your engine's health. Let us provide quick and professional oil change services to keep your vehicle running smoothly.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/car/tirechange.jpg" alt="">
                <div class="des">
                    <h5>Tire Changing and Balancing</h5>
                    <p>Maintain optimal tire performance with our tire changing and balancing services. We ensure even wear and a smooth ride for your vehicle.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/car/wheelalignment.jpg" alt="">
                <div class="des">
                    <h5>Vehicle Alignment</h5>
                    <p>Precise vehicle alignment is crucial for handling and tire longevity. Rely on us for accurate alignment services to keep your car on the right track.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/car/cleandetail.jpg" alt="">
                <div class="des">
                    <h5>Vehicle Detailing</h5>
                    <p>Elevate your car's appearance with our meticulous vehicle detailing service. From exterior shine to interior cleanliness, we'll make your car look its best.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
    </section>
        