<body>
    <section id="todolist" class="section-p1 section-m1">
        <div class="hero-slogan-box">
        <div class="newstext">
            <h4>Financial Services</h4>
        </div>
        </div>
    </section>
    
    
    <section id="product1" class="section-p1">
        <h2>Your Path to Financial Prosperity: Trusted Financial Services Tailored to Your Goals</h2>
        <p> Embark on your journey towards financial prosperity with confidence.</p>
        <div class="pro-container">
            <div class="pro">
                <img src="assets/images/financial/cadc.jpg" alt="">
                <div class="des">
                    <h5>Credit and Debt Counselling</h5>
                    <p>Empower your financial future with Credit and Debt Counseling, guiding you toward a more stable and prosperous financial life.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            </div>

            <div class="pro">
                <img src="assets/images/financial/ic.jpg" alt="">
                <div class="des">
                    <h5>Insurance Consultation</h5>
                    <p>Secure your assets with expert Insurance Consultation, ensuring your coverage aligns perfectly with your needs and goals.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="assets/images/financial/coins.jpg" alt="">
                <div class="des">
                    <h5>Investment Advisory</h5>
                    <p>Grow your wealth wisely with Investment Advisory, harnessing the expertise needed to make informed financial decisions.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
        
            <div class="pro">
                <img src="assets/images/financial/mobileb.jpg" alt="">
                <div class="des">
                    <h5>Mobile Banking Assistance</h5>
                    <p>Navigate the digital world of finance with ease through Mobile Banking Assistance, simplifying complex transactions and banking procedures.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
          
            <div class="pro">
                <img src="assets/images/financial/pfp.jpg" alt="">
                <div class="des">
                    <h5>Personal Financial Planning</h5>
                    <p>Achieve financial clarity with Personal Financial Planning, customizing strategies to achieve your unique financial objectives.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.500 - Ksh.2k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            <div class="pro">
                <img src="assets/images/financial/rp.jpg" alt="">
                <div class="des">
                    <h5>Retirement Planning</h5>
                    <p>Plan for a secure retirement with Retirement Planning, ensuring your golden years are worry-free and well-prepared for.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.5k - Ksh.10k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
           
           
            <div class="pro">
                <img src="assets/images/financial/tpaf.jpg" alt="">
                <div class="des">
                    <h5>Tax Planning and Filing</h5>
                    <p>Streamline your taxes with Tax Planning and Filing, maximizing savings and minimizing financial stress.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/financial/wm.jpg" alt="">
                <div class="des">
                    <h5>Wealth Management</h5>
                    <p>Optimize your assets with Wealth Management, tailored strategies to preserve and grow your wealth.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/financial/mff.jpg" alt="">
                <div class="des">
                    <h5>Microfinance Services</h5>
                    <p>Access microfinance solutions that empower your aspirations with Microfinance Services, promoting financial inclusivity.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/financial/css.jpg" alt="">
                <div class="des">
                    <h5>Credit Scoring</h5>
                    <p>Gauge your financial health accurately with Credit Scoring, helping you make informed decisions on loans and financial opportunities.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
    </section>
        