<body>
    <section id="todolist" class="section-p1 section-m1">
        <div class="hero-slogan-box">
        <div class="newstext">
            <h4>Food and Catering Services</h4>
        </div>
        </div>
    </section>
    
    
    <section id="product1" class="section-p1">
        <h2>Your Path to Financial Prosperity: Trusted Financial Services Tailored to Your Goals</h2>
        <p> Embark on your journey towards financial prosperity with confidence.</p>
        <div class="pro-container">
            <div class="pro">
                <img src="assets/images/food/istockphoto-584763580-612x612.jpg" alt="">
                <div class="des">
                    <h5>Baking and Cake Decoration</h5>
                    <p>Explore the art of Baking and Cake Decoration, where creativity meets flavor, and indulge in delectable treats.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            </div>

            <div class="pro">
                <img src="assets/images/financial/ic.jpg" alt="">
                <div class="des">
                    <h5>Catering for Events (Weddings, Parties)</h5>
                    <p>Elevate your events with Catering for Weddings and Parties, savoring culinary excellence that delights every palate.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="assets/images/financial/coins.jpg" alt="">
                <div class="des">
                    <h5>Cooking Classes</h5>
                    <p>Master the culinary arts with Cooking Classes, honing your skills in the kitchen and creating gourmet dishes.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
        
            <div class="pro">
                <img src="assets/images/financial/mobileb.jpg" alt="">
                <div class="des">
                    <h5>Food Delivery Services</h5>
                    <p>Satisfy your cravings with Food Delivery Services, bringing delicious meals right to your doorstep.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
          
            <div class="pro">
                <img src="assets/images/financial/pfp.jpg" alt="">
                <div class="des">
                    <h5>Meal Preparation and Planning</h5>
                    <p>Simplify your life with Meal Preparation and Planning, ensuring wholesome and convenient dining experiences.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.500 - Ksh.2k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            <div class="pro">
                <img src="assets/images/financial/rp.jpg" alt="">
                <div class="des">
                    <h5>Street Food Vending</h5>
                    <p>Discover the flavors of the streets with Street Food Vending, a gastronomic adventure filled with authentic tastes.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.5k - Ksh.10k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
           
           
            <div class="pro">
                <img src="assets/images/financial/tpaf.jpg" alt="">
                <div class="des">
                    <h5>Traditional Kenyan Cuisine Catering</h5>
                    <p>Experience the richness of Traditional Kenyan Cuisine Catering, a journey through the heart of Kenyan flavors.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/financial/wm.jpg" alt="">
                <div class="des">
                    <h5>Event Catering</h5>
                    <p>Impress your guests with Event Catering, where every detail is perfected to create memorable occasions.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/financial/mff.jpg" alt="">
                <div class="des">
                    <h5>Private Chef Services</h5>
                    <p>Enjoy personalized dining experiences with Private Chef Services, where culinary expertise comes to your home.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/financial/css.jpg" alt="">
                <div class="des">
                    <h5>Food Truck Services</h5>
                    <p>Relish the flavors on wheels with Food Truck Services, a mobile feast that brings tasty delights wherever you are.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
    </section>
        