
<body>
    <section id="todolist" class="section-p1 section-m1">
        <div class="hero-slogan-box">
        <div class="newstext">
            <h4>Accounting and Tax Services</h4>
        </div>
        </div>
    </section>
    
    
    <section id="product1" class="section-p1">
        <h2>Master Your Finances with Experts</h2>
        <p>Navigate the complexities of financial management and taxation with ease.</p>
        <div class="pro-container">
            <div class="pro">
                <img src="assets/images/accounting/bookeeping.jpg" alt="">
                <div class="des">
                    <h5>Bookkeeping</h5>
                    <p>Searching for seamless bookkeeping services? Unlock the expertise of our certified professionals on our platform. Bid farewell to financial worries and entrust your books to our experts for precision. Book now for financial clarity and peace of mind.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            </div>

            <div class="pro">
                <img src="assets/images/accounting/fp.jpg" alt="">
                <div class="des">
                    <h5>Financial Statement Preparation</h5>
                    <p>Coveting effortless financial statement preparation? Explore the proficiency of our certified professionals on our platform. Bid adieu to intricate financial reports and entrust our experts for accurate statements. Book now for financial clarity and tranquility.</p> 
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="assets/images/accounting/incometax.jpg" alt="">
                <div class="des">
                    <h5>Income Tax Filing</h5>
                    <p>Looking for expert income tax filing services? Count on our certified professionals within our platform. Bid farewell to tax intricacies and entrust our experts for accurate filings. Secure your financial peace of mind—book our services now.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
                    
        
            <div class="pro">
                <img src="assets/images/accounting/payroll.jpg" alt="">
                <div class="des">
                    <h5>Payroll Management</h5>
                    <p>Looking for expert payroll management? Our platform's certified professionals have you covered. Say goodbye to payroll hassles and welcome precise management by entrusting your task to our experts. Secure your financial peace of mind—book now.</p>
               
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
             
            <div class="pro">
                <img src="assets/images/accounting/sbt.jpg" alt="">
                <div class="des">
                    <h5>Small Business Accounting</h5>
                    <p>In search of top-notch small business accounting? Look no further. Our certified platform experts specialize in simplifying your financial management. Say goodbye to accounting headaches and embrace precise solutions. Secure your business's financial peace of mind—reserve our services today.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.500 - Ksh.2k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            <div class="pro">
                <img src="assets/images/accounting/tpacc.jpg" alt="">
                <div class="des">
                    <h5>Tax Planning and Consultation</h5>
                    <p>Looking to optimize your tax strategy? Our certified tax planning and consultation experts on the platform are here to assist. Say goodbye to tax headaches and welcome tailored solutions. Secure your financial peace of mind—schedule your consultation today.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.5k - Ksh.10k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
           
           
            <div class="pro">
                <img src="assets/images/accounting/tpac.jpg" alt="">
                <div class="des">
                    <h5>Estate and Inheritance Planning</h5>
                    <p>Exploring comprehensive estate and inheritance planning? Our certified experts on the platform are your trusted partners. Bid farewell to complexity and welcome personalized solutions. Secure your financial legacy—book your planning session today.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/accounting/acc.jpg" alt="">
                <div class="des">
                    <h5>Audit and Assurance</h5>
                    <p>Ready for thorough audit and assurance services? Our certified experts on the platform are your trusted partners. Bid farewell to financial uncertainties and welcome precise, expert insights. Secure your financial confidence—book your audit and assurance session today.</p>
                     <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
            
    </section>
        