
<section id="todolist" class="section-p1 section-m1">
    <div class="hero-slogan-box">
    <div class="newstext">
        <h4>Accounting and Tax Services</h4>
    </div>
    </div>
</section>


<section id="product1" class="section-p1">
    <h2>Master Your Finances with Experts</h2>
    <p>Turning Your To-Do List into Done</p>
    <div class="pro-container">
        <div class="pro">
            <img src="assets/images/accounting/bookeeping.jpg" alt="">
            <div class="des">
                <h5>Bookkeeping</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg: Ksh.1k - Ksh.5k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets/images/accounting/fp.jpg" alt="">
            <div class="des">
                <h5>Financial Statement Preparation</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
       
       
        <div class="pro">
            <img src="assets/images/accounting/incometax.jpg" alt="">
            <div class="des">
                <h5>Income Tax Filing</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets/images/accounting/payroll.jpg" alt="">
            <div class="des">
                <h5>Payroll Management</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.2k - Ksh.10k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets/images/accounting/sbt.jpg" alt="">
            <div class="des">
                <h5>Small Business Accounting</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets/images/accounting/tpacc.jpg" alt="">
            <div class="des">
                <h5>Tax Planning and Consultation</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.5k - Ksh.10k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
       
       
        <div class="pro">
            <img src="assets/images/accounting/tpac.jpg" alt="">
            <div class="des">
                <h5>Estate and Inheritance Planning</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.10k - Ksh.50k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets/images/accounting/acc.jpg" alt="">
            <div class="des">
                <h5>Audit and Assurance</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>

</section>