<nav class="navbar">
  <ul id="navbar">
    <li>
      <a href="services.html" routerLink="/services" class="active">Services</a>
    </li>
  </ul>
</nav>

<section id="todolist" class="section-p1 section-m1">
  <div class="hero-slogan-box">
    <div class="newstext">
      <h4>#Elevate Your World, One Service at a Time</h4>
    </div>
  </div>
</section>

<section class="intro-section">
  <h2>Explore a wide range of services.</h2>
</section>

<div class="service-container">
  <div class="service-row">
    <div class="service-box" *ngFor="let service of servicesData">
      <div class="box-image">
        <img [src]="service['imageUrl']" [alt]="service['serviceName']" />
      </div>
      <div class="box-title">
        <h3>{{ service["serviceName"] }}</h3>
      </div>
      <div class="box-subtasks">
        <ul *ngFor="let subServ of service['serviceList']">
          <li class="subtask" [routerLink]="service['pageLink']">
            {{ subServ }}
          </li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/carrepair.jpg"
          alt="Car Maintenance Image"
        />
      </div>
      <div class="box-title">
        <h3>Car Maintenance</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask" a href="car.html" routerLink="/car">
            Auto Body Repair
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Battery Replacement
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Brake System Repair
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Car Interior Cleaning
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Car Servicing and Repairs
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Engine Diagnostics
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Oil Change
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Tire Changing and Balancing
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Vehicle Alignment
          </li>
          <li class="subtask" a href="car.html" routerLink="/car">
            Vehicle Detailing
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="service-row">
    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/education.jpg"
          alt="Education and Tutoring Image"
        />
      </div>
      <div class="box-title">
        <h3>Education and Tutoring</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask" a href="education.html" routerLink="/education">
            Adult Education
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Career Counseling
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Coding Classes
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Exam Preparation (KCPE, KCSE)
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Extra-Curricular Activity Coaching
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Homeschooling Support
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Language Classes (English, French, etc.)
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Private Tutoring (Math, Science, etc.)
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Test Preparation
          </li>
          <li class="subtask" a href="education.html" routerLink="/education">
            Vocational Training
          </li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/catering.jpg"
          alt="Event Planning Image"
        />
      </div>
      <div class="box-title">
        <h3>Event Planning</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask" a href="event.html" routerLink="/event">
            Catering Services
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            DJ Services
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Event Coordination
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Event Photography and Videography
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Event Venue Decoration
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Floral Arrangement
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Party Planning
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Sound and Lighting Services
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Wedding Planning
          </li>
          <li class="subtask" a href="event.html" routerLink="/event">
            Birthday Party Organization
          </li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/financial.jpg"
          alt="Financial Services Image"
        />
      </div>
      <div class="box-title">
        <h3>Financial Services</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Credit and Debt Counseling
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Insurance Consultation
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Investment Advisory
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Mobile Banking Assistance
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Personal Financial Planning
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Retirement Planning
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Tax Planning and Filing
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Wealth Management
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Microfinance Services
          </li>
          <li class="subtask" a href="financial.html" routerLink="/financial">
            Credit Scoring
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="service-row">
    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/food.jpg"
          alt="Food and Catering Services Image"
        />
      </div>
      <div class="box-title">
        <h3>Food and Catering Services</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask" a href="food.html" routerLink="/food">
            Baking and Cake Decoration
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Catering for Events (Weddings, Parties)
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Cooking Classes
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Food Delivery Services
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Meal Preparation and Planning
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Street Food Vending
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Traditional Kenyan Cuisine Catering
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Event Catering
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Private Chef Services
          </li>
          <li class="subtask" a href="food.html" routerLink="/food">
            Food Truck Services
          </li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/trees.jpg"
          alt="Gardening and Landscaping Image"
        />
      </div>
      <div class="box-title">
        <h3>Gardening and Landscaping</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Flower Bed Planting</li>
          <li class="subtask">Garden Cleanup</li>
          <li class="subtask">Garden Design</li>
          <li class="subtask">Hardscaping</li>
          <li class="subtask">Irrigation System Installation</li>
          <li class="subtask">Lawn Maintenance</li>
          <li class="subtask">Pesticide-Free Pest Control</li>
          <li class="subtask">Planting Services</li>
          <li class="subtask">Soil Testing and Fertilization</li>
          <li class="subtask">Tree Pruning and Removal</li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/workout.jpg"
          alt="Health and Fitness Image"
        />
      </div>
      <div class="box-title">
        <h3>Health and Fitness</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Fitness Bootcamps</li>
          <li class="subtask">Mental Health Counseling</li>
          <li class="subtask">Nutrition Coaching</li>
          <li class="subtask">Personal Training</li>
          <li class="subtask">Physiotherapy</li>
          <li class="subtask">Sports Coaching</li>
          <li class="subtask">Traditional Medicine Consultation</li>
          <li class="subtask">Wellness Retreats</li>
          <li class="subtask">Yoga Classes</li>
          <li class="subtask">Physical Therapy</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="service-row">
    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/renovation.jpg"
          alt="Home Renovation Image"
        />
      </div>
      <div class="box-title">
        <h3>Home Renovation</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Bathroom Renovation</li>
          <li class="subtask">Cabinet and Countertop Installation</li>
          <li class="subtask">Demolition Services</li>
          <li class="subtask">Flooring Installation</li>
          <li class="subtask">Home Extension</li>
          <li class="subtask">Interior Design Consultation</li>
          <li class="subtask">Kitchen Remodeling</li>
          <li class="subtask">Roofing and Gutter Replacement</li>
          <li class="subtask">Window and Door Replacement</li>
          <li class="subtask">Home Insulation</li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img src="assets/images/services/spray.jpg" alt="Home Services Image" />
      </div>
      <div class="box-title">
        <h3>Home Services</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Appliance Repair</li>
          <li class="subtask">Carpentry</li>
          <li class="subtask">Electrical Wiring</li>
          <li class="subtask">Furniture Carpentry</li>
          <li class="subtask">House Cleaning</li>
          <li class="subtask">Pest Control</li>
          <li class="subtask">Plumbing Repairs</li>
          <li class="subtask">Roof Repair</li>
          <li class="subtask">Solar Panel Installation</li>
          <li class="subtask">Tiling and Flooring</li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/phone.jpg"
          alt="Mobile and Electronics Repair Image"
        />
      </div>
      <div class="box-title">
        <h3>Mobile and Electronics Repair</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Auto Repairs</li>
          <li class="subtask">Computer Repairs</li>
          <li class="subtask">Electronic Component Replacement</li>
          <li class="subtask">Game Console Repairs</li>
          <li class="subtask">Laptop and Computer Repairs</li>
          <li class="subtask">Smartphone Repairs</li>
          <li class="subtask">Tablet Repairs</li>
          <li class="subtask">TV Repair</li>
          <li class="subtask">Data Recovery</li>
          <li class="subtask">Network Troubleshooting</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="service-row">
    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/moving.jpg"
          alt="Moving and Transportation Image"
        />
      </div>
      <div class="box-title">
        <h3>Moving and Transportation</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Cargo Shipping</li>
          <li class="subtask">Heavy Equipment Transport</li>
          <li class="subtask">Loading and Unloading Services</li>
          <li class="subtask">Local Moving Services</li>
          <li class="subtask">Long-Distance Moving Services</li>
          <li class="subtask">Packing and Unpacking Services</li>
          <li class="subtask">Pet Transportation Services</li>
          <li class="subtask">Small Moves (e.g., dorm moves)</li>
          <li class="subtask">Storage Solutions</li>
          <li class="subtask">Vehicle Transport</li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/camera.jpg"
          alt="Photography and Videography Image"
        />
      </div>
      <div class="box-title">
        <h3>Photography and Videography</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Documentary Production</li>
          <li class="subtask">Fashion Photography for Designers</li>
          <li class="subtask">Photo Booth Rentals</li>
          <li class="subtask">Portrait Photography</li>
          <li class="subtask">Product Photography</li>
          <li class="subtask">Video Editing and Post-Production</li>
          <li class="subtask">Videography Services</li>
          <li class="subtask">Wedding Photography</li>
          <li class="subtask">Event Photography</li>
          <li class="subtask">Drone Photography and Aerial Shots</li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/phome.jpg"
          alt="Real Estate Services"
        />
      </div>
      <div class="box-title">
        <h3>Real Estate Services</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Home Inspection Services</li>
          <li class="subtask">Land Surveying Services</li>
          <li class="subtask">Property Listing and Sales</li>
          <li class="subtask">Property Renovation Consultation</li>
          <li class="subtask">Property Valuation and Appraisal</li>
          <li class="subtask">Real Estate Photography Services</li>
          <li class="subtask">Rental Property Management</li>
          <li class="subtask">Tenant and Landlord Mediation Services</li>
          <li class="subtask">Property Management</li>
          <li class="subtask">Property Investment Consultation</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="service-row">
    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/dog.jpg"
          alt="Pet Care Services Image"
        />
      </div>
      <div class="box-title">
        <h3>Pet Care Services</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Dog Walking and Pet Sitting</li>
          <li class="subtask">Pet Grooming</li>
          <li class="subtask">Veterinary Services</li>
          <li class="subtask">Pet Boarding</li>
          <li class="subtask">Training and Obedience Classes</li>
          <li class="subtask">Pet Adoption Services</li>
          <li class="subtask">Pet Transportation</li>
          <li class="subtask">Exotic Pet Care</li>
          <li class="subtask">Pet Photography</li>
          <li class="subtask">Pet Health Consultation</li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/coding.jpg"
          alt="Technology and IT Image"
        />
      </div>
      <div class="box-title">
        <h3>Technology and IT</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">App Development</li>
          <li class="subtask">Computer Setup and Installation</li>
          <li class="subtask">Data Recovery Services</li>
          <li class="subtask">IT Support and Maintenance</li>
          <li class="subtask">Network Setup and Configuration</li>
          <li class="subtask">Smartphone and Tablet Repairs</li>
          <li class="subtask">Software Development</li>
          <li class="subtask">Website Design and Development</li>
          <li class="subtask">Computer Networking</li>
          <li class="subtask">Virus Removal and Security</li>
        </ul>
      </div>
    </div>

    <div class="service-box">
      <div class="box-image">
        <img
          src="assets/images/services/aircraft.jpg"
          alt=" Travel and Tourism Services Image"
        />
      </div>
      <div class="box-title">
        <h3>Travel and Tourism Services</h3>
      </div>
      <div class="box-subtasks">
        <ul>
          <li class="subtask">Adventure Tourism (Hiking, Rafting)</li>
          <li class="subtask">Airport Transfer Services</li>
          <li class="subtask">Cultural Experiences and Workshops</li>
          <li class="subtask">Eco-Tourism Packages</li>
          <li class="subtask">Hotel and Accommodation Booking</li>
          <li class="subtask">Safari Tours</li>
          <li class="subtask">Tour Guide Services</li>
          <li class="subtask">Travel Booking and Planning</li>
          <li class="subtask">Vacation Packages</li>
          <li class="subtask">Wildlife Safaris</li>
        </ul>
      </div>
    </div>
  </div>
</div>
