<p>it works</p>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<section id="header">
  <div class="logo">
  <a href="#"><img src="assets/images/Screenshot_2023-09-20_092241-removebg-preview.png" alt="" class="logo" width="120"></a>
  </div>
   <nav class="navbar">
    <ul id="navbar">
      <li><a routerLink="/" class="active" href="index.html">Home</a></li>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Accounting and Tax Services</a>
          <a class="dropdown-item" href="#">Beauty and Personal Care</a>
          <a class="dropdown-item" href="#">Car Maintenance</a>
          <a class="dropdown-item" href="#">Education and Tutoring</a>
          <a class="dropdown-item" href="#">Event Planning</a>
          <a class="dropdown-item" href="#">Financial Services</a>
          <a class="dropdown-item" href="#">Food and Catering Services</a>
          <a class="dropdown-item" href="#">Gardening and Landscaping</a>
          <a class="dropdown-item" href="#">Health and Fitness</a>
          <a class="dropdown-item" href="#">Home Renovation</a>
          <a class="dropdown-item" href="#">Home Services</a>
          <a class="dropdown-item" href="#">Mobile and Electronics Repair</a>
          <a class="dropdown-item" href="#">Moving and Transportation</a>
          <a class="dropdown-item" href="#">Photography and Videography</a>
          <a class="dropdown-item" href="#">Real Estate Services</a>
          <a class="dropdown-item" href="#">Pet Care Services</a>
          <a class="dropdown-item" href="#">Technology and IT</a>
          <a class="dropdown-item" href="#">Travel and Tourism Services</a>
          <a class="dropdown-item" a href="services.html" routerLink="/services">All Services</a>
           
        </div>
      </div>
      
   
    </ul>
  </nav>

  <section class="normal">
    <a routerLink="/msanii" class="normal" href="msanii.html"></a>
    <button class="normal" >Earn With Us</button>
  </section>
  <div id="mobile">
    <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>