<body>
    <section id="todolist" class="section-p1 section-m1">
        <div class="hero-slogan-box">
        <div class="newstext">
            <h4>Event Planning</h4>
        </div>
        </div>
    </section>
    
    
    <section id="product1" class="section-p1">
        <h2>Crafting Unforgettable Moments: Your Premier Event Planning Partner</h2>
        <p>We orchestrate extraordinary events that leave lasting impressions. </p>
        <div class="pro-container">
            <div class="pro">
                <img src="assets/images/event/catering.jpg" alt="">
                <div class="des">
                    <h5>Catering Services</h5>
                    <p>Elevate your event with exquisite Catering Services, offering a culinary experience that leaves lasting impressions on your guests' taste buds.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            </div>

            <div class="pro">
                <img src="assets/images/event/dj.jpg" alt="">
                <div class="des">
                    <h5>DJ Services</h5>
                    <p>Set the perfect rhythm with DJ Services that bring music to life, creating a vibrant atmosphere that keeps your guests dancing all night.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="assets/images/event/glass.jpg" alt="">
                <div class="des">
                    <h5>Event Coordination</h5>
                    <p>Seamlessly execute your event with Event Coordination, ensuring every detail is meticulously planned and executed to perfection.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
        
            <div class="pro">
                <img src="assets/images/event/cameraa.jpg" alt="">
                <div class="des">
                    <h5>Event Photography and Videography</h5>
                    <p>Capture the moments that matter most with Event Photography and Videography, preserving memories in stunning visual narratives.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
          
            <div class="pro">
                <img src="assets/images/event/stairsky.jpg" alt="">
                <div class="des">
                    <h5>Event Venue Decoration</h5>
                    <p>Transform any venue into a magical setting with Event Venue Decoration, creating an ambiance that reflects your unique style.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.500 - Ksh.2k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            <div class="pro">
                <img src="assets/images/event/flowerss.jpg" alt="">
                <div class="des">
                    <h5>Floral Arrangement</h5>
                    <p>Adorn your event with breathtaking Floral Arrangements, adding natural beauty and elegance to every corner.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.5k - Ksh.10k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
           
           
            <div class="pro">
                <img src="assets/images/event/evd.jpg" alt="">
                <div class="des">
                    <h5>Party Planning</h5>
                    <p>Experience stress-free celebrations with Party Planning, where every aspect is expertly organized to make your vision a reality.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/event/lss.jpg" alt="">
                <div class="des">
                    <h5>Sound and Lighting Services</h5>
                    <p>Illuminate your event with Sound and Lighting Services, creating a captivating sensory experience for your guests.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/event/whiteshoes.jpg" alt="">
                <div class="des">
                    <h5>Wedding Planning</h5>
                    <p>Craft your dream wedding with Wedding Planning services, ensuring your special day unfolds exactly as you envision.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>

            <div class="pro">
                <img src="assets/images/event/cakee.jpg" alt="">
                <div class="des">
                    <h5>Birthday Party Organization</h5>
                    <p>Celebrate birthdays in style with Birthday Party Organization, creating unforgettable moments for all ages to cherish.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
    </section>
        