<body>
    <section id="todolist" class="section-p1 section-m1">
        <div class="hero-slogan-box">
        <div class="newstext">
            <h4>Beauty and Personal Care</h4>
        </div>
        </div>
    </section>
    
    
    <section id="product1" class="section-p1">
        <h2>Unlock Your Beauty Potential</h2>
        <p>Indulge in our array of exquisite beauty and personal care services tailored to enhance your natural radiance. </p>
        <div class="pro-container">
            <div class="pro">
                <img src="assets/images/beauty/barber.jpg" alt="">
                <div class="des">
                    <h5>Barber Services</h5>
                    <p> Our skilled barbers offer precision cuts, classic shaves, and trendy styles. Book with our platform and leave with a fresh, confident look that suits your style.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            </div>

            <div class="pro">
                <img src="assets/images/beauty/facials.jpg" alt="">
                <div class="des">
                    <h5>Facials and Skincare Treatments</h5>
                    <p>Reveal your natural beauty with our customized facials and skincare treatments. Our experts use premium products to rejuvenate your skin, leaving it radiant and refreshed.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="assets/images/beauty/bbraids.jpg" alt="">
                <div class="des">
                    <h5>Hair Braiding and Styling</h5>
                    <p> Elevate your hair game with our intricate braiding and styling services. Whether it's boho braids or elegant updos, our stylists create stunning looks for any occasion.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
        
            <div class="pro">
                <img src="assets/images/beauty/wax.jpg" alt="">
                <div class="des">
                    <h5>Hair Removal (Waxing, Threading)</h5>
                    <p>Achieve silky-smooth skin with our professional waxing and threading services. Say goodbye to unwanted hair and hello to long-lasting, flawless results.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg: Ksh.1k - Ksh.5k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
          
            <div class="pro">
                <img src="assets/images/beauty/makeup.jpg" alt="">
                <div class="des">
                    <h5>Makeup Artistry for Special Occassions</h5>
                    <p>Let our makeup artists enhance your features for special events. We specialize in creating glamorous, long-lasting makeup looks that make you shine on your big day.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.500 - Ksh.2k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            <div class="pro">
                <img src="assets/images/beauty/manicure.jpg" alt="">
                <div class="des">
                    <h5>Manicure and Pedicure Services</h5>
                    <p> Treat your hands and feet to the pampering they deserve. Our manicures and pedicures leave your nails impeccably groomed, and you feeling utterly relaxed.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.5k - Ksh.10k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
           
           
            <div class="pro">
                <img src="assets/images/beauty/spa.jpg" alt="">
                <div class="des">
                    <h5>Spa Services</h5>
                    <p> Experience pure bliss with our spa services. From soothing massages to rejuvenating facials, our spa therapists provide a tranquil escape to renew your body and spirit.</p>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Avg : Ksh.10k - Ksh.50k</h4>
                </div>
                <a href="booknow.html" routerLink="/booknow"><i class="fal fa-shopping-cart cart"></i></a>
    
            </div>
            
    </section>
        