body {
  background-color: #fff;
  font-family: Arial, sans-serif; /* Adjust the font-family as needed */
  margin: 0;
  padding: 0;
  color: #1a1a1a; /* Set text color for visibility on the dark background */
}
/* Home Page */
#hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  background-size: cover; /* Cover the entire hero section */
  background-position: center;
  background-image: url('src/assets/images/pexels-antony-trivet-14167593.jpg');
    
}
/* Style for the background overlay */
#hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

/* Style for the content container */
.hero-content {
  position: relative;
  z-index: 1; /* Place the content above the background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Style for the transparent box */
.transparent-square {
  background-color: rgba(255, 254, 254, 0.5); /* Adjust the color and transparency (RGBA) */
  padding: 20px;
  text-align: center;
  border-radius: 10px; /* Add rounded corners to the box */
  padding: 20px;
  width: 60%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width if necessary */
  text-align: center;
  height: 50%;
  max-height: 500px;
  margin-top: 150px;

}
/* Style for the transparent divider lines */
.divider {
  margin: 20px 0;
  height: 1px;
  background-color: #fff;
}

/* Style for the search bar and button */
#hero .form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  
}

#hero input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}
#hero button {
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;

}
/* Hover effect for the button */
#hero button:hover {
  background-color: #127ed1; /* Change background color on hover */
  color: #1a1a1a; /* Change text color on hover */
}

/* Style for the "Learn more" link */
.learn-more-link {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
}
.learn-more-link:hover {
  
  color: #127ed1; /* Change text color on hover */

}
  #hero h2{
    font-size: 2rem;
    padding-bottom: 10px;
    color: #1a1a1a;
    margin-top: 10px;
    text-align: justify;
  }

  #hero p {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1a1a1a;
   margin-top: 5px;
   text-align: justify;
  }
  .section-p1{
    padding: 40px 80px;
  }
  #feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #feature .fe-box {
    width: 160px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
  
  }
  #feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  }
  #feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
  }
  #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #13344d;
    background-color: 	#e0ffcd;
  }
  #feature .fe-box:nth-child(2) h6 {
    background-color: #fdffcd;
  }
  #feature .fe-box:nth-child(3) h6 {
    background-color: #ffebbb;
  }
  #feature .fe-box:nth-child(4) h6 {
    background-color: 	#ffcab0;
  }
  #feature .fe-box:nth-child(5) h6 {
    background-color: #f8f398;
  }
  #feature .fe-box:nth-child(6) h6 {
    background-color: #d5eeff;
  }
  
.section-p1 {
  padding: 40px 80px;
}
#product1 {
  text-align: center;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.section-p1 {
  padding: 40px 80px;
}
#tasker {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.value-prop-container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black; /* Set the background color to black */
  color: white; /* Set text color to white */
}

.text-container {
  flex: 1;
  padding: 20px;
}

figure {
  flex: 1;
  text-align: center;
}

/* Style the text inside the container */
.text-container h2,
.text-container .description,
.text-container ul li {
  color: white; /* Set text color inside the container to white */
}
.container{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-t1{

    display: inline-block; 
    width: calc(33.33% - 20px);
    margin: 10px; 
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    height: 300px;
}

#my-section {
  display: inline-block; /* Display the sections in a row */
  width: 30%;
  height: 10%;
  max-width: 400px; /* Adjust the max-width to make the box smaller */
  margin: 15px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 20px;

}

/* Style for the dividing lines */
.divider {
  border-top: 1px dashed #ccc;
  margin: 15px 0;
}

/* Styling for the left image */
.left-image {
  float: left;
  margin-right: 20px;
}

/* Styling for the right content */
.right-content {
  float: left;
  width: 50%;
}

/* Styling for the badge */
.badge {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

/* Styling for the featured tasks */
.featured-tasks {
  margin-top: 20px;
}

/* Styling for the task prices */
.task-price {
  text-align: right;
}

/* Styling for the "Why I'm right for this job" paragraph */
.why-right {
  margin-top: 20px;
}
#tasker {
  margin-top: 80px;
  margin-bottom: 80px; 
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.value-prop-container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black; /* Set the background color to black */
  color: white; /* Set text color to white */
}

.text-container {
  flex: 1;
  padding: 20px;
}

figure {
  flex: 1;
  text-align: center;
}

/* Style the text inside the container */
.text-container h2,
.text-container .description,
.text-container ul li {
  color: white; /* Set text color inside the container to white */
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color:#fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color:#818ea0;
}
#newsletter p span{
  color:#ffbd27;
}  
#newsletter .form{
  display: flex;
  width: 40%;
}


#newsletter input{
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #1a1a1a;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 4px;
}
#newsletter button:hover{
  background-color: #127ed1;
  color: #fff;
}



/*Start Media Query*/

@media only screen and (max-width: 414px){
.hero{
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;

}
.feature{
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product1{
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasker{
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter{
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
}


