<body>
<section id="hero">
    <div class="hero-content">
        <div class="hero-background"></div>
        <div class="transparent-square">
            <h2>Msanii: Your Personal Concierge</h2>
                <p>Our mission is to redefine convenience, allowing you to focus on what truly matters.</p>
                <div class="form">
                    <input type="text" placeholder="I need help with...">
                    <button class="normal">Explore</button>
                </div>
                <div class="divider"></div>
                <a href="#" class="learn-more-link">Want to earn with us? Learn more about becoming a Msanii!</a>
            </div>
        </div>

</section>
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="assets/images/features/f1 (1).png" alt=" ">
        <h6>Safe Payment</h6>
    </div>

    <div class="fe-box">
        <img src="assets/images/features/f2 (1).png" alt=" ">
        <h6>Online Order</h6>
    </div>

    <div class="fe-box">
        <img src="assets/images/features/f3 (1).png" alt=" ">
        <h6>Save Money</h6>
    </div>

    <div class="fe-box">
        <img src="assets/images/features/f4 (1).png" alt=" ">
        <h6>Promotions</h6>
    </div>

    <div class="fe-box">
        <img src="assets/images/features/f5 (1).png" alt=" ">
        <h6>User-friendly</h6>
    </div>

    <div class="fe-box">
        <img src="assets/images/features/f6 (1).png" alt=" ">
        <h6>F24/7 Support</h6>
    </div>

</section>

<section id="product1" class="section-p1">
    <h2>Popular Projects</h2>
    <p>Turning Your To-Do List into Done</p>
    <div class="pro-container">
        <div class="pro">
            <img src="assets\images\products\cleaning.png" alt="">
            <div class="des">
                <h5>Home Cleaning and Organization</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg: Ksh.1k - Ksh.5k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets\images\products\furniture.png" alt="">
            <div class="des">
                <h5>Furniture Assembly</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
       
       
        <div class="pro">
            <img src="assets\images\products\handyman.png" alt="">
            <div class="des">
                <h5>Handyman Services</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets\images\products\gardening.png" alt="">
            <div class="des">
                <h5>Gardening and Yard Work</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.2k - Ksh.10k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="assets\images\products\moving.png" alt="">
            <div class="des">
                <h5>Moving and Hauling</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets\images\products\paint.png" alt="">
            <div class="des">
                <h5>Painting Services</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.5k - Ksh.10k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
       
       
        <div class="pro">
            <img src="assets\images\products\event planning.png" alt="">
            <div class="des">
                <h5>Event Planning and Setup</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.10k - Ksh.50k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

        </div>
        <div class="pro">
            <img src="assets\images\products\shopping.png" alt="">
            <div class="des">
                <h5>Personal Shopping and Errands</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Avg : Ksh.500 - Ksh.2k</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>

</section>

<section id="tasker" class="section-p1">
    <div class="value-prop-container">
        <div class="text-container">
            <h2>Everyday life made easier</h2>
            <div class="description">When life gets busy, you don't have to tackle it alone. Get time back for what you love without breaking the bank.</div>
            <ul>
                <li aria-label="">Choose your Msanii by reviews, skills, and price</li>
                <li aria-label="">Schedule when it works for you — as early as today</li>
                <li aria-label="">Chat, pay, tip, and review all through one platform</li>
            </ul>
        </div>
        <figure>
            <img src="assets\images\products\image-512x512 (21).jpg" alt="">
        </figure>
    </div>
</section>

<section id="tasker" class="section-p1">
    <div class="value-prop-container">
        <figure>
            <img src="assets\images\banner\cbanner.png" alt="">
        </figure>
        <div class="text-container">
            <h2>A go-to team at your fingertips</h2>
            <div class="description">Build your team of local, background-checked Msanii's to help with and for life. Whatever you need, they've got it covered.</div>
            <ul>
                <li aria-label="">Compare Msanii reviews, ratings, and prices</li>
                <li aria-label="">Choose and connect with the best person for the job</li>
                <li aria-label="">Save your favorites to book again and again</li>
            </ul>
        </div>
        
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <img src="" alt="" >
    <div class="newstext">
        <h4>Sign Up for Newsletters</h4>
        <p>Get e-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email Address">
        <button class="normal">Sign Up</button>
    </div>
    
</section>
</body>





















